---
import {getCollection} from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import {Icon} from 'astro-icon/components';

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map(post => ({
    params: {slug: post.slug},
    props: {post},
  }));
}

const {post} = Astro.props;
const {Content} = await post.render();
---

<Layout title={post.data.title} description={post.data.description}>
    <div class="main-container">
        <article class="blog-post">
            <div class="back-link">
                <a href="/blog" class="back-button">
                    <Icon name="arrow-left"/>
                    <span>Terug naar blog</span>
                </a>
            </div>
            <div class="hero">
                <h1>{post.data.title}</h1>
              {post.data.heroImage && (
                      <img
                              src={post.data.heroImage}
                              alt={post.data.title}
                              class="hero-image"
                      />
              )}
            </div>
            <div class="content">
                <Content/>
            </div>
        </article>
    </div>
</Layout>

<style lang="scss">
  @use 'sass:map';
  @use '../../styles/_partials/_variables' as *;

  .blog-post {
    padding: map.get($spacing, "l");
  }

  .back-link {
    margin-bottom: map.get($spacing, "l");
  }

  .back-button {
    display: inline-flex;
    align-items: center;
    gap: map.get($spacing, "s");
    color: var(--text-secondary);
    text-decoration: none;
    transition: color 0.3s ease;
    font-size: map.get($font-size, "M");

    &:hover {
      color: var(--Text-primary);
    }

    [data-icon] {
      width: 24px;
      height: 24px;
    }
  }

  .hero {
    margin-bottom: map.get($spacing, "m");
    text-align: center;
  }

  .hero-image {
    width: 100%;
    height: auto;
    border-radius: map.get($radius, "xs");
    margin-bottom: map.get($spacing, "xl");
  }

  .content {
    :global(p) {
      margin-bottom: map.get($spacing, "m");
    }
      
    :global(h2){
      margin-top: map.get($spacing, "2xl");
    }

    :global(img) {
      width: 100%;
      height: auto;
      border-radius: map.get($radius, "xs");
      padding: map.get($spacing, "xl") 0;
    }

    :global(ul) {
      list-style: none;
      margin: map.get($spacing, "l") 0;
      padding: 0;
    }

    :global(li) {
      position: relative;
      padding-left: map.get($spacing, "xl");
      margin-bottom: map.get($spacing, "m");
      line-height: map.get($line-height, "150%");

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top:13px;
        width: map.get($spacing, "m");
        height: 2px;
        background: var(--Decorative-line03);
        transform: translateY(-50%);
      }
    }
  }

  @media (max-width: 768px) {
    .blog-post {
      padding: map.get($spacing, "xs");
    }

    .back-link {
      margin-bottom: map.get($spacing, "xs");
    }

    .hero h1 {
      font-size: map.get($font-size, XL);
    }
  }
</style> 
