---
import Layout from '../layouts/Layout.astro';
import {getEntry} from 'astro:content';
import Divider from '../components/Divider.astro';
import Socials from "../components/Socials.astro";

const aboutContent = await getEntry('about', 'about');
const {Content} = await aboutContent.render();
---

<Layout
        title={aboutContent.data.title}
        description={aboutContent.data.description}
>
    <div class="main-container">
        <h1 class="animate-in">{aboutContent.data.title}</h1>
        <Divider variant="line01"/>
        <div class="content animate-in">
            <Content/>
            <Socials/>
        </div>
    </div>
</Layout>

<style lang="scss">
  @use 'sass:map';
  @use '../styles/_partials/_variables' as vars;

  .content {
    :global(article) {
      margin-bottom: map.get(vars.$spacing, "2xl");
    }


    :global(h3) {
      margin-bottom: map.get(vars.$spacing, "m");
    }
    
    

    :global(ul) {
      margin-bottom: map.get(vars.$spacing, "m");
      padding-left: map.get(vars.$spacing, "l");
    }
  }

</style> 
